conky.config = {
    use_xft = true,
    font = 'verdana:size=9',
    alignment = 'top_right',
    xftalpha = 0.8,
    background = true,
    own_window = true,
    own_window_type = 'dock',
    own_window_argb_visual = true,
    own_window_argb_value = 0,
    own_window_class = 'conky',
    own_window_transparent = true,
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    double_buffer = true,
    draw_shades = false,
    draw_outline = false,
    draw_borders = false,
    stippled_borders = 10,
    border_width = 1,
    default_shade_color = 'grey',
    default_outline_color = 'black',
    default_color ='BADCDD',
    use_spacer = 'none',
    no_buffers = true,
    uppercase = false,
    color1 ='4D6844'
}

conky.text = [[
 ${color FF0000}${font OpenLogos:size=22}            J ${color FFFF00}${font OpenLogos:size=22} t
 ${color 014A7F}${font}Linux:${color} $kernel
 ${color 014A7F} ${execi 65000 lsb_release -d | cut -f 2| tr "[:upper:]" "[:lower:]"}

 ${color ffffff}${font StyleBats:size=16}A${font}  CPU0: ${cpu cpu0}% ${cpubar cpu0}
 ${font StyleBats:size=16}A${font}  CPU1: ${cpu cpu1}% ${cpubar cpu1}
 ${color ffffff}${font StyleBats:size=16}L ${font}${color} Temp: ${execi 30 sensors | grep 'CPU Temp' | cut -d: -f2 | sed -e 's/(.*$//' | sed -e 's/ //g'} fan: ${execi 60 sensors | grep 'CPU FAN' | cut -d: -f2 | sed -e 's/(.*$//' | sed -e 's/ //g' | sed -e 's/RPM/ rpm/'}
 ${color 014A7F}${font PizzaDude Bullets:size=16}J${font} RAM ${color}$mem/$memmax 
 $memperc% ${membar 4}
 ${color 014A7F}Swap:$color $swap/$swapmax 
 ${color 014A7F}$swapperc% ${swapbar 4}
 ${color 014A7F}$hr 
 ${color 014A7F}${font StyleBats:size=16}J${font}  File Systems usage:

 ${color 014A7F}/ ${fs_used /}/${fs_size /} ${color}${fs_bar 6 /}   
 ${color 014A7F}/home${fs_used /home}/${fs_size /home}${color} ${fs_bar 6 /home}   
 SSD ${diskiograph /dev/sda 11,120 555555 AAAAAA -l} ${diskio /dev/sda} 
 HD  ${diskiograph /dev/sdb 11,120 555555 AAAAAA -l} ${diskio /dev/sdb}
 ${color 014A7F}$hr 
 ${color}${font PizzaDude Bullets:size=16}v${font}   Up: ${upspeed enp2s0}Kb/s  Total: ${totalup enp2s0}
 ${font PizzaDude Bullets:size=16}r${font}   Down: ${downspeed enp2s0}Kb/s Total: ${totaldown enp2s0}

 ${font StyleBats:size=18}P${font}   Uptime:  ${uptime_short}
            ${color 014A7F}${font Radio Space:size=7}${time %A %d %Y %H:%M}
]]
